@model KP_APP.Models.tov_kategories

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>tov_kategories</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_kategor" />
            <div class="form-group">
                <label asp-for="kategor_name" class="control-label"></label>
                <input asp-for="kategor_name" class="form-control" />
                <span asp-validation-for="kategor_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kat_glav_id" class="control-label"></label>
                <select asp-for="kat_glav_id" class="form-control" asp-items="ViewBag.kat_glav_id">
                    <option disabled selected>--- Выбрать главную категорию ---</option>
                </select>
                <span asp-validation-for="kat_glav_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
