@model KP_APP.Models.accounts

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>accounts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="login" />
            <div class="form-group">
                <label asp-for="fam" class="control-label"></label>
                <input asp-for="fam" class="form-control" />
                <span asp-validation-for="fam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="im" class="control-label"></label>
                <input asp-for="im" class="form-control" />
                <span asp-validation-for="im" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otch" class="control-label"></label>
                <input asp-for="otch" class="form-control" />
                <span asp-validation-for="otch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passwordhash" class="control-label"></label>
                <input asp-for="passwordhash" class="form-control" />
                <span asp-validation-for="passwordhash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numphone" class="control-label"></label>
                <input asp-for="numphone" class="form-control" />
                <span asp-validation-for="numphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_sotr" /> @Html.DisplayNameFor(model => model.is_sotr)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
