@model IEnumerable<KP_APP.Models.parameters>

@{
    ViewData["Title"] = "Index";
}

<h1>Параметры для описания товара</h1>

<p>
    <a asp-action="Create">Добавить новый параметр</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.param_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.param_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_param">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.id_param">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
